<h1>Contact</h1>
<p>Feel free to connect with me on LinkedIn or check out my projects on GitHub:</p>

<ul class="contact-links">
    <li><a href="https://www.linkedin.com/in/luciano-sardanha-0bb47054/" target="_blank"
            rel="noopener noreferrer">LinkedIn</a></li>
    <li><a href="https://github.com/lswebdevelops" target="_blank" rel="noopener noreferrer">GitHub</a></li>
</ul>


<p>Also check my portfolio at:
    <a href="http://www.lucianosardanha.com" rel="noopener noreferrer" target="_blank">
        <b>lucianosardanha.com</b>
    </a>
</p>